*{
  margin: 0 auto;
}

.parent{
  border: 2px solid red;
  position:relative;
}

#board{
  display: flex;
  width: 100rem;
}

#window{
  display: flex;
  width: 20rem;
  height: 40rem;
  /* overflow: hidden; */
  background-color: yellow;
  /* overflow: hidden; */


}

.object{
  position: absolute;
  border: 1px dashed black;
}

.button{
  display:none;
  align-items:center;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50px;
  background-color: purple;
}

#player-Rev{
  margin-left: 10em;
  background-color:red;
  width:200px;
  height:70px;
  padding-left: -50px;
  display:block;
  /* background:url('../imgs/RevRockIt.png'); */
  background-size: cover;
}

#player-Rev img{
  width:200px;
  height:100px;
}

#collisionState{
  background-color: rgb(148, 213, 29) !important;
}

#objectsInSpace{
  display: flex;
  flex-direction: column;
  border:1px solid blue;
  margin-right: -9em;
  position:relative;
  transition: 1000ms linear;
}

#spaceRock{
  width: 100px;
  height: 100px;
  background-size:cover;
  /* background-color: orange; */
  margin-bottom: inherit;
}

#spacePipe{
  width:50px;
  height: 500px;
  top: 20em;
  background:url('../imgs/pipes.png');
  /* transform: rotate(-15deg); */
  background-color: silver;
}

#UFO{
  width:300px;
  height:200px;
  background-color:green;
  /* transform:rotate(13deg); */
}
