*{
  margin: 0 auto;
}

.parent{
  /* border: 2px solid red; */
  position:relative;
}

#board{
  display: flex;
  justify-content: center;
  width: 100rem;
  background: url('../imgs/boardBG.jpg');
}

#window{
  display: flex;
  width: 40rem;
  height: 49rem;
  overflow: hidden;
  /* background-color: yellow; */
  background:url('../imgs/spaceBg.jpeg')100%;
  background-size:cover;


}

.object{
  position: absolute;
  /* border: 1px dashed black; */
}

#start{
  display:none;
  align-items:center;
  margin: 0 auto;
}

#promo{
  height:40%;
  width:30%;
  margin: 0 -20px;
}

.button{
  /* display:none;
  align-items:center; */
  width: 200px;
  height: 100px;
  /* margin: 0 auto; */
  border: solid purple 1px;
  border-radius: 50px;
  background-color: black;
  color: purple;
}

.button:hover{
  background-color: purple;
  color: white;
}

#player-Rev{
  /* margin-left: -15em; */
  /* background-color:red; */
  width:200px;
  height:70px;
  /* padding-left: -50px; */
  display:block;
  /* background:url('../imgs/RevRockIt.png'); */
  background-size: cover;
}

#player-Rev img{
  width:200px;
  height:100px;
}

#collisionState{
  display: none;
  background: url("../imgs/RevRocked.png") 100% !important;
  background-size:auto;
  width:200px;
  height:300px;
}

/* #collisionState img{
  width:200px;
  height:300px;
} */

#objectsInSpace{
  display: flex;
  flex-direction: column;
  /* border:1px solid blue; */
  margin-right: -9em;
  position:relative;
  transition: 1500ms linear;
}

#spaceRock{
  width: 100px;
  height: 100px;
  background-size:cover;
  /* background-color: orange; */
  margin-bottom: inherit;
}

#spacePipe{
  width:50px;
  height: 500px;
  top: 20em;
  /* background:url('../imgs/pipes.png'); */
  transform: rotate(-15deg);
  background-size: cover;
  /* background-color: silver; */
}

#UFO{
  width:300px;
  height:200px;
  /* background-color:green; */
  /* background:url('../imgs/UFO.png');  */
  transform:rotate(13deg);
}

.modal{
  display:block;
  position: fixed;
  justify-content: center;
  z-index: 1;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color: rgba(0,0,0,0.4);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 17pt;
}

.modal-content{
  margin: 20% auto;
  padding: 20px;
  width: 60%;
}

#tryAgain{
  background: rgba(219, 80, 20, 1);
  padding:20px;
  color: #fff;
  border:0;
  border-radius: 50px;
  width:200px;
  cursor: pointer;
}

#tryAgain:hover{
  background: #333;
  color: coral;

}
